.row
  .col.s12
    .card.blue.darken-1
      = link_to "#" do
        .card-content.white-text
          %span.card-title
            = post.title
          %p
            = post.content
      .card-action
        = link_to "タグ", "#"
        = link_to "タグ", "#"
        = link_to "タグ", "#"
        = link_to "タグ", "#"
        = link_to "タグ", "#"
