!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Shareseed
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %nav
      .nav-wrapper
        %a.brand-logo{:href => "#"} ShareSeed
        %ul#nav-mobile.right.hide-on-med-and-down
          %li
            = link_to '質問を投稿する', new_post_path
          %li
            = link_to '投稿一覧', "#"
          - if user_signed_in?
            %li
              = link_to 'ログアウト', destroy_user_session_path, method: :delete
          - else
            %li
              = link_to '新規登録', new_user_registration_path
            %li
              = link_to 'ログイン', new_user_session_path
    = yield
